body{
    margin:0;
    font-family:sans-serif;
    background-color: beige;
    background-image:url("sky-image.jpg");
}
nav{
    background-color:darkorchid;
    padding:10px 20px;
    

    
}
nav ul{
    list-style:square;
    margin: 10px;
    padding:10px;
    display:block;
    gap:20px;

}
nav ul li{
    display:inline;
    list-style:square;
    text-decoration: solid;
    margin:20px;
    border-bottom: #333;
    
}
nav ul li a{
    color:antiquewhite;
    text-decoration:none;
    font-weight:500;
    padding:8px 12 px;
    border-radius:4 px;
    font-size:30px;
     
}
nav ul li a:hover{
    background-color:rgb(42, 165, 134);
}
hr{
    margin:0;
    border:0;
    border-top: 2px  solid #ccc;
}
.container{
    margin:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.todo-form{
    background-color:aquamarine;
    padding:30px;
    border-radius:10px;
    box-shadow:0px 4px 12px rgba(0, 0, blue, 0.1);
    max-width:400px;
    width:100%;
}
.input{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    font-size:16px;
    box-sizing:border-box;
    border-radius:5px;
}
textarea.input{
    min-height:100px;
    resize:vertical;
}
.btn{
    width:100px;
    padding:10px;
    background-color:brown;
    border:none;
    border-radius:6px;
    color:white;
    font-size:16px;
    cursor:pointer;
    margin-top:10px;

    
} 
.btn:hover{
    background-color:aqua;
}
.task-list{
    list-style:none;
    padding:0;
    max-width:600;
    margin:auto;
}
.task-item{
    background-color:white;
    margin-bottom:15px;
    padding:15px 20px;
    border-left:5px solid #4caf50;
    box-shadow:0 2px ;
    border-radius:6px;

}
.task-title{
    font-size:18px;
    font-weight:bold;
    color:#333;
    margin-bottom:8px;
}
.task-description{
    color:#666;
    font-size:small;
    font-weight:lighter;

}
.delete-item{
    margin-top:10px;
    padding:6px 10px;
    background-color:crimson;
    color:#fff;
    border:none;
    border-radius:4px;
    cursor:pointer;
    text-decoration:none;
    display:inline-block;
}
.delete-item:hover{
    background-color:coral;
}
.update-item{
    margin-left:10px;
    padding:6px 10px;
    background-color:#4caf50;
    color:#fff;
    border:none;
    border-radius:4px;
    cursor:pointer;
    text-decoration:none;
    display:inline-block;


}
.update-item:hover{
    background-color:rgb(42, 229, 179);
}